.search-result-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  padding: 20px;
  background-color: #121111;
}

.movie-item-lo {
  text-align: center;
  background: #121111;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: aliceblue;
  border-radius: 8px;
}

.movie-item-lo img {
  display: block;
  margin: 0 auto 10px;
  border-radius: 4px;
}

.movie-item-lo p {
  margin: 5px 0;
  font-size: 14px;
}
